# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Next.js build output
.next/
out/

# Misc
dist/
build/
coverage/
.cache/
.idea/
.vscode/
*.local

# Dependency directories
bower_components/
jspm_packages/